.login-layout {
  position: relative;
  width: 100%;
  background: #ffffff;
}

.header {
  line-height: 48px;
  height: 48px;
  padding: 0 16px;

  .logo {
    width: 88px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

.content {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 48px);
}

.aside {
  position: absolute;
  top: 60px + 48px;
  left: 60px;

  h2, p {
    margin: 0;
    padding: 0;
  }

  h2 {
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
  }

  p {
    height: 40px;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 40px;
  }
}

.login-frame {
  background-color: #ffffff;
  width: 380px;
  // height: 230px;
  position: absolute;
  top: 186px;
  left: 50%;
  transform: translateX(-50%);
}

.login-box {
  padding: 22px 30px 36px 30px;
  & > h3 {
    margin: 0;
    font-size: 18px;
    color: #393C42;
    line-height: 25px;
    height: 25px;
    color: #393C42;
  }
  :global {
    .next-form-item {
      margin-bottom: 18px;
    }
  }
}

.login-input {
  & > input {
    height: 40px !important;
    line-height: 40px;
  }
}

.login-error {
  padding: 20px 0 18px 0;
  &.blank {
    padding: 31px 0 0 0;
  }
  :global {
    .next-message {
      padding: 5px !important;
    }
  }
}

.login-submit {
  height: 42px !important;
  line-height: 40px !important;
  width: 100%;
  font-size: 16px !important;
}
