.inactive-page {
  margin: 0 -24px -18px;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 1024px;

  :global {
    a:hover {
      text-decoration: none;
    }
  }
}

.introduce {
  height: 224px;
  flex-shrink: 0;
  max-width: 1024px;
  margin: 60px auto 0 auto;
  display: flex;
  flex-direction: row;

  &-wrapped-img {
    flex: 1 0 220px;

    img {
      width: 220px;
    }
  }

  &-info {
    margin-left: 32px;

    &-title {
      margin: 0;
      text-align: left;
      line-height: 36px;
      font-size: 28px;
      color: #111111;
      height: 36px;
    }

    &-desc {
      margin: 8px 0 24px 0;
      text-align: left;
      line-height: 20px;
      font-size: 12px;
      color: #333333;
    }
  }
}

.grey-area {
  background-color: #fafafa;

  h3 {
    height: 22px;
    line-height: 22px;
    color: #333;
    margin: 40px 0 16px 0;
    font-size: 14px;
    font-weight: 700;
  }
}

.product-advantages {
  max-width: 1024px;
  margin: 0 auto;
  ul {
    margin: -8px;
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;

    li {
      width: 50%;
      display: inline-block;
      zoom: 1;
      letter-spacing: normal;
      word-spacing: normal;
      vertical-align: top;
    }
  }

  &-u-wrapped {
    padding: 8px;
    display: block;
    width: 100%;
  }

  &-u {
    // margin: 8px;
    padding: 0 16px 0 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    // height: 102px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.13);
    background-color: #FFFFFF;
    // transition: all .2s ease;

    // &:hover {
    //   transform: scale(1.04);
    // }

    $img-width: 80px;
    &-wrapped-img {
      display: block;
      width: $img-width;
      float: left;

      img {
        display: block;
        margin: 16px auto 0 auto;
      }
    }

    &-info {
      display: block;
      margin-left: $img-width;

      h4 {
        margin: 16px 0 0 0;
        height: 22px;
        line-height: 22px;
        color: #333333;
        font-size: 14px;
        font-weight: 700;
      }

      p {
        margin: 8px 0 16px 0;
        line-height: 20px;
        color: #555555;
        min-height: 40px;
      }
    }
  }
}

.related-links {
  max-width: 1024px;
  margin: 0 auto 53px auto;

  ul {
    margin: -4px;
    padding: 0;
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
    // background-color: #FFFFFF;

    li {
      width: 33.3333%;
      display: inline-block;
      zoom: 1; 
      letter-spacing: normal;
      word-spacing: normal;
      vertical-align: top;
    }
  }

  &-u {
    // margin: 4px 0 4px 28px;
    margin: 0 4px;
    display: block;
    height: 20px;
    line-height: 20px;
    color: #333333;
    // &:before {
    //   content: '';
    //   display: block;
    //   width: 4px;
    //   height: 4px;
    //   background-color: #333333;
    //   position: relative;
    //   left: -12px;
    //   top: 12px
    // }
  }
}

.empty {
  height: 100%;
}
