$header-height: 50px;

.header {
  height: $header-height;
  line-height: $header-height;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.08);
  z-index: 200;

  & > a {
    margin-left: 24px;
  }
  .logo {
    width: 88px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

.body {
  display: flex;
  margin-top: $header-height;
  height: calc(100vh - #{$header-height});
}

.main {
  width: 100%;
}